.comment-details {
	font-weight: 600;
}

.userID {
	font-size: 0.5em;
}

.arrow {
	/* do this like the header to align points Number with the upvote icon*/
	position: relative;
	top: 2px;
}

.score {
	margin: 4px;
	font-size: 0.5em;
	color: var(--text);
}

.time-posted {
	margin: 2px;
	font-size: 0.5em;
}

.collapsed-preview {
	font-size: 1rem;
	color: grey;
	margin-left: 2px;
}

.comment-awards {
	position: relative;
	top: 0.2rem;
}

/* Award component classes start*/
.awards {
	display: inline-flex;
	align-items: center;
	justify-self: flex-start;
	/* yes flex wrap fixed it !! */
	flex-wrap: wrap; /*this is already in .details but we need it */
	/* todo ? this might help us in other places too*/
	word-wrap: break-word;
}

.award {
	/* for the award count in POST details */
	/* ! next line causes inconsistency in awards tooltip font-size */
	/* font-size: 1.5em; */
	font-weight: 600;
	/**/
	margin: 0px 2px;
	display: inline-flex;
	align-items: center;
	/* for the tooltip box */
	position: relative;
}

.count {
	font-size: 0.5em;
	margin: 2px;
}

.tooltip {
	width: 20px;
	height: 20px;
}

.tooltip-box {
	display: none;
	/* styles */
	width: 300px;
	text-align: center;
	background-color: #eee;
	font-size: 0.6em;
	font-weight: 600;
	border-radius: 6px;
	padding: 5px 0;
	/* positioning */
	position: absolute;
	z-index: 10;
	transform: translateY(-50%) translateX(-50%);
	margin-bottom: 2em;
	/* not fully opaque when over seen posts */
	/* todo: what is {coin_symbol} in desc */
	/* ! what we cant hover over reply awards ?*/
}
.text {
	padding: 20px;
}
.tooltip-box-img {
	padding-top: 20px;
}

.award:hover .tooltip-box {
	display: block;
}

/* Award component classes end*/

.comment-text {
	margin-bottom: 5px;
	/*border-bottom: dashed #e2e2e2 1px;*/
	width: auto;
	font-size: 0.8em;
}

.toplevel-comment {
	margin-left: 0px !important;
	margin-bottom: 20px;
	border-radius: 8px;
}

/* ! should we use scroll snap for browsing comments
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts
 */
.toplevel-comment:nth-child(odd) {
	/* maybe this hsould be a preference ? lets jsut make it subtle for now*/
	/* ? we could try other filters too.. https://alligator.io/css/css-filter-examples/ */
	/* ! or just use a color ! there are performace costs for using filter*/
	backdrop-filter: contrast(95%);
}

/* ? this decides the horizontal text spread !! */
/* to fix ugly horizontal scrollbar */
[data-view-vert="false"] .comments {
	max-width: 98vw;
}

[data-view-vert="true"] .comments {
	/* 98% of 2/3 coz thats the value in grid-template-columns: ;*/
	max-width: calc(2 / 3 * 98vw);
}

[data-view-vert="true"] .post {
	/* 98% of 1/3 coz thats the value in grid-template-columns: ;*/
	max-width: calc(1 / 3 * 98vw);
	overflow: auto;
	height: 98vh;
}

/* #region styles for post scrollbar */
/* wow use this https://grsmto.github.io/simplebar/examples/ */
/* * what is :window-inactive ??? */
/* ! SHOOULD I ADD `F` SIGN ON THE FOCUSED SECTION ?*/
[data-view-vert="true"] .post::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	background-color: var(--primary);
}

[data-view-vert="true"] .post::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
	background-color: var(--primary);
}

[data-view-vert="true"] .post::-webkit-scrollbar-thumb {
	background-color: #000000;
	background-color: var(--text);
	border-radius: 3px;
	/* border: 2px solid #555555; */
}

[data-view-vert="true"] .post::-webkit-scrollbar-corner {
	background-color: var(--primary);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* #endregion */

/* ? to use a gradient we need to style the x, y scrollbars differently */
/* [data-view-vert="true"] .post::-webkit-scrollbar-thumb {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.44, rgb(122, 153, 217)),
		color-stop(0.72, rgb(73, 125, 189)),
		color-stop(0.86, rgb(28, 58, 148))
	);
} */

/* OMG I FIXED IT */

.comment {
	/*using attr with colors doesnt work because it always returns a string?*/
	border-left: 2px solid var(--color, grey);
	/* margin-left: 20px; */
	/* OMG USING THIS MADE THE GAPS in thread lines disappear !!! */
	overflow: hidden;
}

/* .darker {
	filter: opacity(0.7);
} */

/* .comment-details {
	border: 2px dotted red;
} */

/* COMMENT LOADER */
.comments-loader {
	font-size: 0.7em;
	background-color: #b5b5b5;
	width: 20%;
	margin: auto;
	margin-left: 20px;
}

.profilepic {
	width: 10px;
	height: 10px;
}

/* FOR REDDIT BODY_HTML */
ol {
	list-style: decimal outside;
	margin: 14px 30px;
}

/* FOR REPLIES in comments eg https://www.reddit.com/r/nosleep/comments/nm5duj/literally_no_one_else_ive_ever_known_has_had_this/gznaj1t?utm_source=share&utm_medium=web2x&context=3 */

/* seemed a little bit too much to the right */
blockquote {
	position: relative;
	left: -15px;
}

blockquote::before {
	content: "";
	position: absolute;
	transform: translate(-250%);
	width: 5px;
	height: 100%; /*What do i do it should be equal to content height | nice 1 em helped out !*/
	background-color: var(--text);
	opacity: 0.5;
	border-radius: 1px;
}

.comment h1,
.toplevel-comment h1 {
	/* on reddit -start margin seems to be greater 
	https://www.reddit.com/r/Superstonk/comments/nm83eb/a_house_of_cards_parts_i_ii_iii_in_pdf/gzn38ea?utm_source=share&utm_medium=web2x&context=3
	*/
	margin-block-start: 0.17em;
	margin-block-end: 0.17em;
}

#sortby * {
	color: #1c1412;
}

/* dimming down the outlines a bit */
.toplevel-comment:focus {
	outline: none;
	/* box-shadow: 0 0 3pt 2pt red; */
	border: 2px solid #ddd;
}
.comment:focus {
	outline: none;
	border: 2px solid #ddd;
	/* box-shadow: 0 0 3pt 2pt red; */
	border-radius: 8px;
}
