.post-body-p {
	margin: 0.8em 4em 1em 0em;
	/* NAH THE FONT STUFF SHOULD BE A PREFERENCE */
	/* font-size: 1em; */
	/* font-weight: 600; */
}

.title {
	/* NAH THE FONT STUFF SHOULD BE A PREFERENCE */
	/* font-weight: 600; */
}

.post-body-p > a {
	color: blue !important;
}

.details > span {
	display: flex;
	align-items: center;
}

/* upvote arrow icon seemed a bit down on careful observation */
.upvote-icon {
	position: relative;
	top: -1.5px;
}

/* images and videos display fixed */
.post-img {
	/* contain vs cover */
	/* contain : increases or decreases the size of the image to fill the box whilst preserving its aspect-ratio.
	 	cover : the image will fill the height and width of its box, once again
	  maintaining its aspect ratio but often cropping the image in the process. */
	object-fit: contain;
	max-width: 100%;
	/* todo: should the user be able to set the  max-height ?*/
	max-height: 500px;
	/* do something about the underflow thing bruh */
}

.video-player {
	object-fit: contain;
	max-width: 100%;
	max-height: 400px;
}

/* MARKDOWN STYLE */
table,
td,
th {
	border: 1px solid var(--text);
	border-collapse: collapse;
	padding: 2px;
	/* todo add column width and wordwrap & wordwrap2 ?
	*/
	/* ? should this be a preference */
	/* text-align: center !important; */
}

table {
	border: 2px solid var(--text);
	margin: 15px 0px;
}

/* small icon , count fix */
.fs-15 {
	font-size: 1.5em;
}

ul {
	list-style-position: inside;
}
