.post-body-p {
	margin: 0.8em 4em 1em 0em;
	/* NAH THE FONT STUFF SHOULD BE A PREFERENCE */
	/* font-size: 1em; */
	/* font-weight: 600; */
}

.title {
	/* NAH THE FONT STUFF SHOULD BE A PREFERENCE */
	/* font-weight: 600; */
}

.post-body-p > a {
	color: blue !important;
}

.details > span {
	display: flex;
	align-items: center;
}

/* upvote arrow icon seemed a bit down on careful observation */
.upvote-icon {
	position: relative;
	top: -1.5px;
}

/* images and videos display fixed */
.post-img {
	/* contain : increases or decreases the size of the image to fill the box whilst preserving its aspect-ratio.
	 	cover : the image will fill the height and width of its box, once again
	  maintaining its aspect ratio but often cropping the image in the process. */
	object-fit: contain;
	max-height: 80vh;
	/* ? idk should i add a max-height */
	/* ! http://localhost:3000/r/196/https://www.reddit.com/r/196/comments/nwg8km/not_a_joke_im_actually_in_thr_95th_percentile_of/ */
	/* ! VS */
	/* ! https://www.reddit.com/r/196/comments/nwg8km/not_a_joke_im_actually_in_thr_95th_percentile_of/ */
	padding: 0.2em 0em;
	/* FIXED: dont specify width or height just use with 100% & object-fit: contain
	we are specifying the height and not the width becuase if we dont it get rendered in the center the focusView in nonvertmode
	& but by using the height and not the width there is extra space on the top and bottom on the img in vert-split-mode */
	transition: width 2s, height 2s, transform 0.5s;
}

.post[data-view-vert="true"] .post-img {
	max-width: 100%;
}

.post-img:hover {
	transform: scale(1.02);
}

.video-player {
	object-fit: contain;
	max-width: 100%;
	max-height: 98vh;
}

.removed_notice {
	display: block;
	padding: 10px;
	margin: 1rem;
	border-radius: 8px;
	border: 4px solid var(--text);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--text);
	text-align: center;
}

/* MARKDOWN STYLE */
table,
td,
th {
	border: 1px solid var(--text);
	border-collapse: collapse;
	padding: 2px;
	/* todo add column width and wordwrap & wordwrap2 ?
	*/
	/* ? should this be a preference */
	/* text-align: center !important; */
}

table {
	border: 2px solid var(--text);
	margin: 15px 0px;
}

/* small icon , count fix */
.fs-15 {
	font-size: 1.5em;
}

ul {
	list-style-position: inside;
}

.md blockquote {
	margin-block-start: 0.23em;
	margin-block-end: 0.23em;
}

/* very important | for readability*/
/* https://www.reddit.com/r/Android/comments/o0br6e/walking_around_with_your_galaxy_s21_ultra_in_your/ */
/* Pretty much, always a Russian roulette on what they allow */

.md > p {
	padding: 0.5em 0 0.25em;
}

.md > p:first-child {
	padding-top: 0px;
}

.md > p:last-child {
	padding-bottom: 0px;
}

/* 
what do there 2 do ?

margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 40px;
margin-inline-end: 40px;

*/
