/* todo: should i use grid? */

.sidebar {
	display: flex;
	justify-content: space-evenly;

	padding: 5px;

	/* debugging */
	background-color: blanchedalmond;
	border: 2px solid red;

	/* css learnt  */
	/* FOR the other axis */
	/* align-items: flex-start; */

	/* EXPERIMENT */
	/* should be sticky ??? YESSS */
	/* display:sticky */
}

input,
button,
SearchBar SearchBar > input:placeholder-shown {
	/* display: inline; */
	font-size: 1.3em;
	/* width: 25%; */
	border: none;
	text-align: center;
}

input:focus :not([type="checkbox"]) {
	outline: none;
}
