.sub-sel {
	position: fixed;
	top: 17%;
	left: 50%;
	transform: translate(-50%);
	/* float: left; */
	font-size: 24px;
	text-align: center;
	width: auto;
	z-index: 100;
}

.sub-sel > input {
	background-color: #222;
	color: whitesmoke;
	width: 100%;
}

.sub-sel > ul {
	display: block;
	background-color: #222;
	color: whitesmoke;
	width: 100%;
	list-style-type: none;
	margin-block-start: 0rem;
	margin-block-end: 0em;
	cursor: pointer;
	/* ! add some start space ! */
	/* text-align: start; */
}

.sub-sel li:hover {
	backdrop-filter: brightness(120%);
}

.sub-sel li {
	padding: 0.5rem;
}
