.viewarea {
	font-size: 29px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: inherit;
	overflow: auto;
}

.post {
	width: auto;
	height: auto;
	/* border: 2px solid black; */
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	overflow: hidden;
}

.author {
	color: #303943;
	font-size: 0.8em;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}

.details {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.title {
	margin-block-start: 0.1em;
	margin-block-end: 0.1em;
}

.toplevel {
	border-bottom: 2px solid #282d35;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/* alternate comments dff style */
/* .toplevel:nth-child(2n) {
  background-color: #17141d;
} */

/* to style the speech component */
/* .rs-container {
	width: minmax(40px, 10%) !important;
	width: 10% !important;
} */

.speech {
	/* i guess that fixes it todo: not for mobile toh maybe*/
	width: 20vw;
}

/* POST.JS */
.spoiler {
	font-size: 0.5em;
	display: inline-block;
	color: grey;
	font-weight: 600;
	border: 2px solid grey;
	padding: 5px;
	position: relative;
	top: -5px; /*not responsive*/
	margin-left: 10px;
}

.incomprehensible_post_hint {
	margin: 10px 0px;
}

.domain {
	margin-right: 10px;
	padding: 5px;
	/* border: 3px solid skyblue; */
	/* border-radius: 5px; */
}

.url > a {
	color: blue;
}
