:root {
	/*light mode styles*/
	--primary: #9fa0a0;
	--text: #1c1412;
	--dim: #1c141275; /*for text*/
	--dim-bg: #e2e2e2; /*for bg*/
	--link: blue;
	/* --primary: #0a0d12; */
	--dark: #edf6f9;
	/* --dark: #030304; */
	--white: #fff;
	--seen: #1c141275;
	/*dark mode styles*/
	--bg: #1d1f21;
	--fg: #c5c8c6;
	--dark-dim: #797a79; /*for text*/
	--link-dark: #c200c1;
}

*,
*::after,
*::before {
	padding: 0px 0px;
	margin: none;
	color: var(--text);
	/* box-sizing: border-box; */
}

html,
body {
	/* background-color: rgba(10, 13, 18, 0.8); */
	/* background-color: var(--primary); */
	background-color: var(--primary);
	font: Ariel;
	margin: none;
	padding: 0px 0px;
	scroll-behavior: smooth;
}

body ::selection {
	background-color: #ffaa00c2;
	text-decoration: underline solid #ffaa00;
}

body::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: var(--primary); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	/*--text color is not accessible in light theme*/
	background-color: var(--text); /* color of the scroll thumb */
	/*filter: opacity(0.5);*/
	/*opacity: 0.5*/ /*doesnt work for us*/
	/*background-color: transparent;*/ /*hides it completely*/
	/*border-radius: 20px;*/ /* roundness of the scroll thumb */
	/*border: 3px solid orange;*/ /* creates padding around scroll thumb */
}

.container {
	border-radius: 10px;
	padding: 1px;

	/* display for children  */
	display: grid;
	grid-template-rows: minmax(2fr, 200px) 8fr;
	grid-gap: 20px;
}

.blur {
	filter: blur(100px);
}

a {
	color: var(--link);
}
