:root {
	--primary: #edf6f9;
	/* --primary: #0a0d12; */
	--dark: #edf6f9;
	--text: #1c1412;
	/* --dark: #030304; */
	--white:#fff;
	/*dark mode styles*/
	--bg: #1d1f21;
	--fg: #C5C8C6;
}

*,
*::after,
*::before {
	padding: 0px 0px;
	margin: none;
	color: var(--text);
	/* box-sizing: border-box; */
}

html,
body {
	/* background-color: rgba(10, 13, 18, 0.8); */
	/* background-color: var(--primary); */
	background-color: var(--primary);
	font: Ariel;
	margin: none;
	padding: 0px 0px;
}

body ::selection {
	background-color: #ffaa00c2;
	text-decoration: underline;
}

.container {
	/* background-color: brown; */
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;

	/* display for children  */
	display: grid;
	grid-template-rows: minmax(2fr, 200px) 8fr;
	grid-gap: 20px;
}

.blur {
	filter: blur(100px);
}
